.select2-container--default .select2-selection--single{
    padding: 6px 6px 0 0;
    font-size: 19px;
    height: 40px;
    border-color: #e9e8ef; 
    border-radius: 2px;
}

.select2-container--default .select2-selection__arrow{
    margin-top: 6px;
}

.select2-container--default .select2-dropdown{
    background-color: #eee;
    border: 1px solid #aaa;
}

.select2-container--default .select2-dropdown .select2-search__field{
    height: 35px;
    font-size: 19px;
}

.select2-container--default .select2-dropdown .select2-results{
    direction: rtl;
    text-align: right;
}

.select2-div{
    text-align: right;
    direction: rtl;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
}